:root {
  --primary-light: #8abdff;
  --primary: #6d5dfc;
  --primary-dark: #5b0eeb;
  --white: #FFFFFF;
  --greyLight-1: #E4EBF5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
  --gray: #34495e;
  --darkgray: #2c3e50;
}

*, *::before, *::after {
/*   margin: 0; */
  padding: 0;
/*   box-sizing: inherit; */
}

p{
	margin-bottom: 0px;
}
/* html { */
/*   box-sizing: border-box; */
/*   font-size: 100%; */
/*   overflow-y: scroll; */
/*   background: var(--greyLight-1); */
/* } */
@media screen and (min-width: 900px) {
  html {
    font-size: 100%;
  }
}

/* .container { */
/*   min-height: 100vh; */
/*   display: flex; */
/*   justify-content: center; */
/*   align-items: left; */
/*   text-align:left; */
/*   background: var(--greyLight-1); */
}


/*  SEGMENTED-CONTROL */
.segmented-control { 
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  width: 20.4rem;
  height: 60px;
/*   box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white); */
  display: flex;
  align-items: center;
  position: relative;
  vertical-align:middle;
  color: var(--primary);
}
.segmented-control input {
  display: none;
}
.segmented-control > input:checked + label {
  transition: all .5s ease;
  color: var( --white);
   background-color: var(--darkgray);
}

.segmented-control2 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  width: 20.4rem;
  height: 60px;
/*   box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white); */
  display: flex;
  align-items: center;
  vertical-align:middle;
  position: relative;
   color: var(--primary);
  
}
.segmented-control2 input {
  display: none;
}
.segmented-control2 > input:checked + label {
  transition: all .5s ease;
    color: var( --white);
   background-color: var(--darkgray);
}
.segmented-control__1, .segmented-control__2, .segmented-control__3, .segmented-control__4, .segmented-control__5, .segmented-control__6, .segmented-control__7, .segmented-control__8 {
  border:1px solid gainsboro;
  width: 6.8rem;
  margin-bottom :0px;
  height: 2rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: black;
  transition: all .5s ease;
}
.segmented-control__1:hover, .segmented-control__2:hover, .segmented-control__3:hover, .segmented-control__4:hover, .segmented-control__5:hover, .segmented-control__6:hover, .segmented-control__7:hover, .segmented-control__8:hover {
  background-color: var(--darkgray);
  color: var( --white);
  transition: all .5s ease;
}





















