<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	<!-- 자주 사용하는 타입의 별칭을 세팅 -->
	<typeAliases>
		<typeAlias type="kr.or.ddit.domain.Member" alias="member"/>
		<typeAlias type="kr.or.ddit.domain.MemberAuth" alias="memberAuth"/>
		<typeAlias type="kr.or.ddit.domain.Lecture" alias="lecture"/>
		<typeAlias type="kr.or.ddit.domain.LecApply" alias="lecApply"/>
		<typeAlias type="kr.or.ddit.domain.Student" alias="student"/>
		<typeAlias type="kr.or.ddit.domain.Professor" alias="professor"/>
		<typeAlias type="kr.or.ddit.domain.Manager" alias="manager"/>
		<typeAlias type="kr.or.ddit.domain.Employee" alias="employee"/>
		<typeAlias type="kr.or.ddit.domain.notice.NoticeBasic" alias="NoticeBasic"/><!-- 메인 공지사항 -->
		<typeAlias type="kr.or.ddit.domain.LecNotice" alias="LecNotice"/><!-- 강의 공지사항 -->
		<typeAlias type="kr.or.ddit.domain.LecQna" alias="LecQna"/><!-- 질문 게시판 -->
		<typeAlias type="kr.or.ddit.domain.Approval" alias="Approval"/><!-- 결재 게시판 -->
		<typeAlias type="kr.or.ddit.domain.College" alias="College"/><!-- 단과대학 테이블 -->
		<typeAlias type="kr.or.ddit.domain.Counsel" alias="Counsel"/><!-- 상담 테이블 -->
		<typeAlias type="kr.or.ddit.domain.Record" alias="Record"/><!-- 학생의 학적 테이블 -->
		<typeAlias type="kr.or.ddit.domain.Department" alias="department"/>
		<typeAlias type="kr.or.ddit.domain.StudentLecture" alias="studentLecture"/>
		<typeAlias type="kr.or.ddit.domain.Task" alias="task"/>
		<typeAlias type="kr.or.ddit.domain.GraduateCredit" alias="graduateCredit"/>
		<typeAlias type="kr.or.ddit.domain.Credit" alias="credit"/>
		<typeAlias type="kr.or.ddit.domain.Attach" alias="attach"/>
		<typeAlias type="kr.or.ddit.domain.AllTimeLectures" alias="AllTimeLectures"/><!-- 역대강의전체조회 -->
		<typeAlias type="kr.or.ddit.domain.Subject" alias="Subject"/><!-- 과목관리 테이블 -->
		<typeAlias type="kr.or.ddit.domain.Weekplan" alias="weekplan"/>
		<typeAlias type="kr.or.ddit.domain.Subject" alias="subject"/>
		<typeAlias type="kr.or.ddit.domain.Common" alias="common"/>
		<typeAlias type="kr.or.ddit.domain.CommonDetail" alias="commonDetail"/>
		<typeAlias type="kr.or.ddit.domain.TaskSubmit" alias="tasksubmit"/>
		<typeAlias type="kr.or.ddit.domain.Allocation" alias="allocation"/>
		<typeAlias type="kr.or.ddit.domain.Test" alias="test"/>
		<typeAlias type="kr.or.ddit.domain.TestQ" alias="testQ"/>
		<typeAlias type="kr.or.ddit.domain.LecData" alias="lecData"/>
		<typeAlias type="kr.or.ddit.domain.Evaluation" alias="evaluation"/>
		<typeAlias type="kr.or.ddit.domain.Payment" alias="payment"/>
		<typeAlias type="kr.or.ddit.domain.KeyIndicators" alias="keyIndicators"/>
		<typeAlias type="kr.or.ddit.domain.StudentTest" alias="stuTest"/>
		<typeAlias type="kr.or.ddit.domain.StudentTestDetail" alias="std"/>
		<typeAlias type="kr.or.ddit.domain.SclHistory" alias="sclHistory"/>


		<!-- 시설예약 시작 -->
        <typeAlias type="kr.or.ddit.domain.facility.FacilityScheduleVO" alias="facilityScheduleVO"/>
		<!-- 시설예약 끝-->

		<!-- QnA 시작 -->
		<typeAlias type="kr.or.ddit.domain.qna.QnaVO" alias="qnaVO"/>
		<typeAlias type="kr.or.ddit.domain.qna.Qna" alias="qna"/>
		<!-- QnA 끝 -->
		
	</typeAliases>
</configuration>
