<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	<!-- 자주 사용하는 타입의 별칭을 세팅 -->
	<typeAliases>
		<typeAlias type="kr.or.ddit.domain.Member" alias="member"/>
		<typeAlias type="kr.or.ddit.domain.MemberAuth" alias="memberAuth"/>
		<typeAlias type="kr.or.ddit.domain.Lecture" alias="lecture"/>
		<typeAlias type="kr.or.ddit.domain.LecApply" alias="lecApply"/>
		<typeAlias type="kr.or.ddit.domain.Student" alias="student"/>
		<typeAlias type="kr.or.ddit.domain.Professor" alias="professor"/>
		<typeAlias type="kr.or.ddit.domain.Manager" alias="manager"/>
		<typeAlias type="kr.or.ddit.domain.Employee" alias="employee"/>
		<typeAlias type="kr.or.ddit.domain.notice.NoticeBasic" alias="NoticeBasic"/><!-- 메인 공지사항 -->
		<typeAlias type="kr.or.ddit.domain.LecNotice" alias="LecNotice"/><!-- 강의 공지사항 -->
		<typeAlias type="kr.or.ddit.domain.LecQna" alias="LecQna"/><!-- 질문 게시판 -->
		<typeAlias type="kr.or.ddit.domain.Approval" alias="Approval"/><!-- 결재 게시판 -->
		<typeAlias type="kr.or.ddit.domain.College" alias="College"/><!-- 단과대학 테이블 -->
		<typeAlias type="kr.or.ddit.domain.Counsel" alias="Counsel"/><!-- 상담 테이블 -->
		<typeAlias type="kr.or.ddit.domain.Record" alias="Record"/><!-- 학생의 학적 테이블 --> 
		<typeAlias type="kr.or.ddit.domain.Department" alias="department"/>
		<typeAlias type="kr.or.ddit.domain.StudentLecture" alias="studentLecture"/>
		<typeAlias type="kr.or.ddit.domain.Task" alias="task"/>
		<typeAlias type="kr.or.ddit.domain.Attach" alias="attach"/>
		<typeAlias type="kr.or.ddit.domain.AllTimeLectures" alias="AllTimeLectrues"/><!-- 역대강의전체조회 -->
		<typeAlias type="kr.or.ddit.domain.Subject" alias="Subject"/><!-- 과목관리 테이블 -->
		
	</typeAliases>
</configuration>
